<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
                <defaults>
                    <security>                       
                        <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
                            <complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
                                <maxDepth>30</maxDepth>
                                <maxComplexity>12000</maxComplexity>
                                <fieldImpact>2</fieldImpact>
                            </complexityConfiguration>
                        </publicService>
                    </security>

                   </defaults>
            </GraphQL>
        </api>
        <group groupName="layoutService">
            <pipelines>
                <getFieldSerializer performanceCritical="true" >
                    <processor type="Sitecore.XA.Feature.LayoutServices.Integration.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.XA.Feature.LayoutServices.Integration">
                        <FieldTypes hint="list">
                            <fieldType id="2">general link with search</fieldType>
                        </FieldTypes>
                    </processor>
                </getFieldSerializer>
            </pipelines>
        </group>
    </sitecore>
</configuration>
