@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

@layer base {


  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  body {
    @apply font-primary;
    @apply text-base;
    @apply text-gray-dark;
  }

  /*
    Hides Sitecore editor markup,
    if you run the app in connected mode while the Sitecore cookies
    are set to edit mode.
  */
  .scChromeData,
  .scpm {
    display: none !important;
  }

  /*
    Styles for default JSS error components
  */
  .sc-jss-editing-error,
  .sc-jss-placeholder-error {
    background-color: #ffffe0;
    padding: 1em;
  }
}

.container {
  @apply w-full max-w-full xl:max-w-nxl lg:max-w-nlg mx-auto;
}

.home-page-hero .slick-slide{visibility: hidden !important;}
.home-page-hero .slick-active{visibility: visible !important;}


.home-page-hero .custom-slick-dots button:after {
  display      : block;
  content      : '';
  transform    : scaleX(0);
  
}
.home-page-hero .custom-slick-dots .slick-active button:after {
  border-bottom: solid 1px #fff;
  
  transition   : transform 6000ms ease-in-out;
  transform-origin: 0 50%;
  transform: scaleX(1); 
}
