.FormWrapper {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 30px;
}

.eloqua-form {
  overflow: hidden;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  line-height: 32px;
  border-bottom: 1px solid #707070;
}

.dynamic-label.animated label {
  -webkit-transition: font-size 200ms cubic-bezier(0.15, 0.67, 0.67, 1), top 200ms cubic-bezier(0.15, 0.67, 0.67, 1);
  transition: font-size 200ms cubic-bezier(0.15, 0.67, 0.67, 1), top 200ms cubic-bezier(0.15, 0.67, 0.67, 1)
}

.elq-label {
  position: relative;
  margin-bottom: -6px;
  top: 24px;
}

.elq-form label {
  cursor: text;
  z-index: 1;
  color: #707070;
}

.dynamic-label label {
  position: relative;
  margin-bottom: -6px;
  top: 24px;
}

.elq-item-select {
  display: block;
  color: #000000;
  background: transparent;
  width: calc(100%+25px);
  line-height: 32px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}


/* Paragraph styles */
.elq-form p {
  line-height: 1.5;
  color: #707070;
  margin: 0;
}

/* Link styles within paragraphs */
.elq-form p a {
  color: #da291c;
  text-decoration: underline;
}

/* Heading styles */
.elq-form h3 {
  margin: 0;
  padding: 5px 0 10px;
  color: #000000;
}

/* Error message styles */
.errormsg {
  color: #da291c;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

/* Label styles */
.elq-label {
  display: inline-block;
  max-width: 100%;
  font-weight: 400;
  margin-bottom: 0;
}

/* Textarea item styles */
.elq-form .elq-item-textarea {
  min-height: 48px;
  max-height: 360px;
  border: 1px solid #ececec;
}

/* Field input styles */
.elq-item-input,
.elq-item-select,
.elq-item-textarea {
  display: block;
  margin: 0;
  width: 100%;
  color: #000000;
}

.elq-item-input:focus {
  outline: 2px dotted #78757b;
}

.elq-item-textarea:focus {
  outline: 2px dotted #78757b;

}

.elq-form:focus-within input:invalid {
  border-bottom: 1px solid #da291c !important;
}

/* Field style */
.elq-field-style {
  padding-top: 5px;
  padding-bottom: 10px;
}

.select-label {
  position: relative;
}

.select-label::before {
  position: relative;
}

/* Adjust select label position */
.select-label::before {
  font-family: 'icomoon';
  text-transform: none;
  line-height: 1;
  position: absolute;
  content: "\e906";
  bottom: 20px;
  color: #da291c;
  right: 35px;
}

/* Add focus styles to select wrapper */
.focus .select-wrapper {
  outline: 2px dotted #78757b;
}

/* Adjust label position and font size in focused and data states */
.focus label,
.data label {
  top: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.lp-form-fieldInput[type="submit"] {
  background-color: #da291c;
  color: #ffffff;
  text-decoration: none;
  border: none;
  line-height: 1;
  height: auto !important;
  width: auto !important;
  font-weight: bold;
  border-radius: 0;
  padding: 12px 24px;
  cursor: pointer;
}

.elq-item-input[type=text] {
  height: 32px;
  border: 0;
  border-bottom: 1px solid #707070;
}

.elq-item-input:-webkit-autofill,
.elq-item-input:-webkit-autofill:hover,
.elq-item-input:-webkit-autofill:focus,
.elq-item-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* Remove margin for checkboxes and radio buttons */
.elq-item-input[type="checkbox"],
.elq-item-input[type="radio"] {
  margin: 0;
}

/* Reset box-sizing for all elements */
.elq-form *,
.elq-form :after,
.elq-form :before {
  box-sizing: border-box;
}

/* Styles for form element layout */
.form-element-layout {
  padding: 5px 10px;
}

/* Remove margin for form text elements */
.form-element-form-text {
  margin: 0;
}

/* Container styles */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Clearing floats for container */
.container-fluid:after,
.container-fluid:before {
  content: " ";
  display: table;
}

/* Clearing floats for row */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

/* Clearing floats for columns */
.elq-form [class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.elq-form [class*="col-xs"] {
  float: left;
  width: 100%;
}

.submitWrapper h3 {
  font-size: 32px;
  line-height: 42px;
}

.submitWrapper p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 28px;
}


/* Responsive styles for small screens */
@media (min-width: 768px) {
  .elq-form [class*="col-sm"] {
    float: left;
  }

  .elq-form .col-sm-6 {
    width: 50%;
  }

  .elq-form .col-sm-12 {
    width: 100%;
  }

  .FormWrapper {
    padding-top: 80px;
  }

  .submitWrapper h3 {
    font-size: 40px;
    line-height: 56px;
  }

  .submitWrapper p {
    line-height: 32px;
  }

}

/* Responsive styles for medium screens */
@media (min-width: 992px) {
  .elq-form [class*="col-md"] {
    float: left;
  }

  .elq-form .col-md-6 {
    width: 50%;
  }

  .elq-form .col-md-12 {
    width: 100%;
  }
}

/* Responsive styles for large screens */
@media (min-width: 1200px) {
  .elq-form [class*="col-lg"] {
    float: left;
  }

  .elq-form .col-lg-6 {
    width: 50%;
  }

  .elq-form .col-lg-12 {
    width: 100%;
  }

}