@tailwind utilities;

@layer utilities {
  h1,
  .h1 {
    @apply font-primary font-bold text-48 leading-56 md:text-80 md:leading-80 tracking-normal;
  }
  h2,
  .h2 {
    @apply font-primary font-bold text-40 leading-48 lg:text-48 lg:leading-56 tracking-normal;
  }
  h3,
  .h3 {
    @apply font-primary font-bold text-32 leading-42 lg:text-40 lg:leading-56 tracking-normal;
  }
  h4,
  .h4 {
    @apply font-primary font-bold text-32 leading-42 tracking-normal;
  }
  .subHeading1 {
    @apply font-primary font-normal text-24 leading-36 tracking-normal;
  }
  .subHeading2 {
    @apply font-primary font-normal text-20 leading-34 tracking-normal;
  }
  .body1 {
    @apply font-primary font-normal text-16 leading-28 tracking-normal;
  }
  .body2 {
    @apply font-primary font-normal text-14 leading-24 tracking-normal;
  }
}
