@tailwind utilities;

@layer utilities {
  h1,
  .h1 {
    @apply font-primary font-bold text-7xl leading-56 md:text-8xl md:leading-80 tracking-normal;
  }
  h2,
  .h2 {
    @apply font-primary font-bold text-4xl leading-40 sm:text-6xl sm:leading-48 lg:text-7xl lg:leading-56 tracking-normal;
  }
  h3,
  .h3 {
    @apply font-primary font-bold text-5xl leading-42 lg:text-6xl lg:leading-56 tracking-normal;
  }
  h4,
  .h4 {
    @apply font-primary font-bold text-5xl leading-42 tracking-normal;
  }
  .subHeading1 {
    @apply font-primary font-normal text-5xl leading-42 tracking-normal;
  }
  .subHeading2 {
    @apply font-primary font-normal text-xl leading-34 tracking-normal;
  }
  .body1 {
    @apply font-primary font-normal text-base leading-28 tracking-normal;
  }
  .body2 {
    @apply font-primary font-normal text-sm leading-24 tracking-normal;
  }
  a {
    @apply inline-flex cursor-pointer text-gray-dark lg:hover:!underline basicFocus;
  }
  .basicFocus {
    @apply lg:focus:outline-dotted lg:focus:outline-2 lg:focus:outline-secondary hover:!outline-0 active:!outline-0;
  }
  .rte h1 {
    @apply h1;
  }
  .rte h2 {
    @apply h2;
  }
  .rte h3 {
    @apply h3;
  }
  .rte h4 {
    @apply h4;
  }
  .rte li,
  .rte p {
    @apply font-primary font-normal text-base leading-28 tracking-normal;
  }
  .rte a {
    @apply inline-flex font-medium leading-24 items-center text-sm transition ease-in-out duration-100 cursor-pointer text-gray-dark lg:hover:!underline basicFocus;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .navigationTransitionInitial {
    transition-delay: 200ms;
    transform: translate(-10px, -10%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms, transform 200ms, height 200ms;
    transition-timing-function: ease-in-out;
    height: 0;
  }
  .navigationTransitionFinal {
    opacity: 1;
    visibility: visible;
    transform: translate(0%, 0%);
    height: auto;
  }
}
