@tailwind utilities;

@layer utilities {
  h1,
  .h1 {
    @apply font-primary font-bold text-7xl leading-56 md:text-8xl md:leading-80 tracking-normal;
  }
  h2,
  .h2 {
    @apply font-primary font-bold text-6xl leading-48 lg:text-7xl lg:leading-56 tracking-normal;
  }
  h3,
  .h3 {
    @apply font-primary font-bold text-5xl leading-42 lg:text-6xl lg:leading-56 tracking-normal;
  }
  h4,
  .h4 {
    @apply font-primary font-bold text-5xl leading-42 tracking-normal;
  }
  .subHeading1 {
    @apply font-primary font-normal text-2xl leading-36 tracking-normal;
  }
  .subHeading2 {
    @apply font-primary font-normal text-xl leading-34 tracking-normal;
  }
  .body1 {
    @apply font-primary font-normal text-base leading-28 tracking-normal;
  }
  .body2 {
    @apply font-primary font-normal text-sm leading-24 tracking-normal;
  }
  .basicFocus {
    @apply lg:focus:outline-dotted lg:focus:outline-2	lg:focus:outline-secondary;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
